@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bio-dark text-slate-200 antialiased;
  }
}

/* Glassmorphism utilities */
.glass-panel {
  @apply bg-bio-panel/50 backdrop-blur-md border border-slate-700/50 shadow-xl;
}
